.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
}

.navLink {
  a {
    font-size: 18px;
    transition: var(--anchor-transition);
  }

  &:last-child a {
    padding-right: 0;
  }
}
