@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;

.root {
  display: flex;
  align-items: flex-start;
  padding-top: size(84);
  margin-bottom: size(100);

  @include mobile {
    padding-top: size(60);
    margin-bottom: 0;
    flex-direction: column;
  }
}

.testMargin {
  margin-bottom: size(185);

  @include mobile {
    margin-bottom: size(60);
  }
}

.titleSection {
  min-height: auto;
  padding-bottom: size(336);

  @include mobile {
    padding-bottom: size(60);
  }
}

.left,
.right {
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.right {
  margin-top: size(180);

  @include mobile {
    margin-top: 0;
  }
}

.left {
  @include mobile {
    width: 100%;
  }
}

.headingSection {
  @include mobile {
    width: 100%;
    min-height: auto;
    padding: size(20) size(10);
  }
}

.description {
  padding: size(30) size(160) size(150) size(30);
  background-color: $black;

  @include heading-02;

  @include mobile {
    padding: size(20) size(90) size(10) size(10);
  }
}

.testDescription {
  padding: size(30) size(160) size(120) size(30);

  @include mobile {
    padding: size(20) size(50) size(10) size(10);
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    margin-bottom: size(60);
  }
}

.button {
  padding-top: size(104);
  padding-bottom: size(24);
  background-color: $black;

  @include mobile {
    padding-top: size(54);
    padding-bottom: size(10);
  }
}
