@import "/styles/mixins";

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  @include unselectable;

  code {
    font-weight: bold;
  }
}

.headerBreadcrumb {
  padding-left: 0;
  margin-bottom: 0 !important;
  padding-top: 12px !important;

  > li > a {
    padding: 15px;
    font-size: 20px;
    position: relative;

    > span {
      z-index: 2;
      position: relative;
    }

    &:not(:first-child) {
      @include responsive(xs) {
        display: none;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      transition: all var(--anchor-transition);
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--c-primary);
      opacity: 0;
    }

    @media (prefers-reduced-motion: no-preference) {
      &:hover,
      &:focus {
        text-decoration: underline 1.5px;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.navLink {
  a {
    font-size: 18px;
    @include styledLink;
  }

  &:last-child a {
    margin-right: -15px;
  }
}
