[Unit]
Description=Site admin

[Service]
User={{ site_user }}
ExecStart=node {{ site_app_dir }}/admin/node_modules/.bin/strapi start
Restart=always
WorkingDirectory={{ site_app_dir }}/admin

[Install]
WantedBy=multi-user.target
