@use '~styles/colors' as *;
@use '~styles/text' as *;
@use '~styles/mixins' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/fonts' as *;

#freshteam-widget {
  position: relative !important;
  width: 100% !important;
  max-width: size(1075) !important;
  min-height: 100vh;
  margin-left: auto !important;
  background-color: $black !important;
  color: $grey !important;

  .content {
    width: 100% !important;
  }

  .job-details {
    padding: 0 size(32) !important;

    @include mobile {
      padding: 0 size(16) !important;
    }
  }

  &.loading {
    &::before {
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      margin: auto !important;
    }

    &::after {
      display: none;
    }
  }

  @include mobile {
    display: flex;
    justify-content: center;
  }

  @include fontType(H);

  .advanced-search .select2-container--default,
  #freshteam-widget .advanced-search .form-control {
    @include mobile {
      margin-bottom: size(21);
    }
  }

  .search-fields .clear-button > button {
    font-weight: 500 !important;
  }

  .select2-container--default {
    &.select2-container--focus {
      .select2-selection--multiple {
        border-color: $white !important;
      }
    }

    .select2-selection--multiple {
      border-color: $grey !important;

      .select2-selection__rendered {
        li:nth-last-child(2) {
          &.select2-selection__choice {
            height: max-content !important;
            margin-top: 0 !important;
            padding: size(5) !important;
            border-radius: size(10) !important;
            font-family: HelveticaNeue !important;
            font-size: size(12) !important;
            line-height: size(12) !important;
            letter-spacing: size(-0.45) !important;
            background-color: $secondary !important;
            color: $white !important;
          }
        }
      }

      .select2-selection__clear {
        order: 3 !important;
        margin-top: size(-4.5) !important;
        margin-right: 0 !important;

        @include mobile {
          font-size: size(18) !important;
        }
      }
    }
  }

  .search-fields .clear-button > button {
    font-weight: 500 !important;
  }

  .select2-dropdown .select2-results__options li label {
    margin-top: 0;
    margin-bottom: 0 !important;
  }

  .select2-dropdown
    .select2-results__options
    li.select2-results__option--highlighted {
    background-color: $gray-500 !important;
  }

  .select2-dropdown
    .select2-results__options
    li.select2-results__option[aria-selected='true'] {
    color: $white !important;
    background-color: $grey !important;
  }

  .job-details-header {
    background-color: $black !important;
  }

  .btn-primary {
    border: size(1) solid $white !important;
    background: $black !important;
    transition: all 0.1s ease-in-out !important;

    @include hover {
      background: $white !important;
      color: $black !important;
    }
  }

  .section-header > .section-description {
    display: none !important;
  }

  .section-title::after {
    display: block;
    font-weight: normal !important;
    font-size: 14px !important;
    content: 'Provide us with links to know about your previous work (Git/Blog/Medium/LinkedIn)';
  }

  .job-details-content span,
  .job-details-content li,
  .job-details-content p,
  .job-details-content strong {
    color: $white !important;
  }

  .row {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .job-location {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    margin-bottom: size(32) !important;
    padding: 0 !important;

    @include mobile {
      margin-bottom: size(24) !important;
    }
  }

  .job-details-content {
    margin-bottom: size(24) !important;
  }

  .location-info {
    font-size: size(16) !important;
    line-height: size(22) !important;
    color: $secondary !important;

    br {
      display: none !important;
    }

    @include mobile {
      font-size: size(12) !important;
      line-height: size(12) !important;
      letter-spacing: size(-0.36) !important;
    }
  }

  .col-xs-8 {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    padding: 0 !important;

    @include mobile {
      flex-direction: column;
    }
  }

  .col-xs-4 {
    padding: 0 !important;

    @include mobile {
      align-self: center !important;
    }
  }

  .job-list.job-title {
    margin-bottom: 0 !important;
  }

  .location-icon {
    width: size(12) !important;
    height: size(12) !important;
    background: url(../../public/icons/arrow-link.svg) no-repeat;
    background-size: contain;
    margin-left: 0 !important;
    margin-right: size(1) !important;

    svg {
      display: none;
    }
  }

  .job-role-list > ul > li {
    &:not(:last-child) {
      margin-bottom: size(64) !important;

      @include mobile {
        margin-bottom: size(48) !important;
      }
    }

    @include mobile {
      padding: 0 !important;
    }
  }
}

.job-details-header {
  padding-bottom: 0 !important;

  .content {
    display: flex !important;
    flex-direction: column !important;
  }

  .row {
    display: flex !important;
    flex-direction: column !important;
    gap: size(24) !important;

    @include mobile {
      gap: size(16) !important;
    }
  }

  .text-color {
    display: flex !important;
    gap: size(10) !important;
    align-self: flex-end !important;
    text-align: center !important;

    @include mobile {
      align-self: center !important;
      gap: size(5) !important;
      margin-top: size(10) !important;
    }

    div {
      width: max-content !important;
    }
  }
}

.row {
  margin: 0 !important;
}

.page-title {
  font-family: HelveticaNeue !important;
  font-size: size(64) !important;
  line-height: size(64) !important;
  letter-spacing: size(-1.28) !important;
  color: $gray-50 !important;

  @include mobile {
    font-size: size(45) !important;
    line-height: size(40.5) !important;
    letter-spacing: size(-1.35) !important;
  }
}

.advanced-search {
  margin-bottom: size(128) !important;

  @include mobile {
    width: 100% !important;
    margin-bottom: size(28) !important;
  }

  .title-and-clear {
    margin-bottom: 0 !important;
  }

  .select2-container--default {
    border-radius: 0 !important;
    height: size(34) !important;
  }

  .form-control {
    height: size(34) !important;
    margin-bottom: 0 !important;
    padding: size(5.5) size(16) size(5.5) size(38) !important;
    border-radius: 0 !important;
    border: none !important;
    background: $gray-50 !important;
    font-family: HelveticaNeue !important;
    font-size: size(15) !important;
    line-height: size(15) !important;
    letter-spacing: size(-0.54) !important;
    color: $black !important;

    @include mobile {
      margin-top: 0 !important;
    }

    &::placeholder {
      font-family: HelveticaNeue !important;
      color: $secondary !important;
    }
  }
}

.search-fields {
  position: relative !important;
  gap: size(32) !important;
  height: 100 !important;
  margin-bottom: size(32) !important;

  @include mobile {
    display: flex !important;
    flex: 1 !important;
    gap: size(16) !important;
    margin-bottom: 0 !important;
    padding-top: size(8) !important;
    height: 100% !important;
  }
}

.select2-search__field {
  @include mobile {
    height: 100% !important;
  }
}

@media only screen and (min-width: 720px) {
  #freshteam-widget .remote-toggle-mobile,
  #freshteam-widget .clear-button-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 720px) {
  #freshteam-widget .remote-toggle-mobile {
    margin: 20px 0 0 5px;
  }
}

.toggle-and-clear {
  display: flex !important;
  justify-content: flex-start !important;
  z-index: 10;
  flex: 0 100% !important;
  gap: size(5) !important;
  height: 20px !important;
  margin-bottom: 0 !important;

  @include mobile {
    justify-content: center !important;
  }

  .remote-toggle {
    display: flex !important;
    align-items: center !important;
    gap: size(8) !important;

    @include mobile {
      gap: 8px !important;
    }

    span {
      margin: 0 !important;
      font-family: HelveticaNeue !important;
      font-size: size(18) !important;
      line-height: size(18) !important;
      letter-spacing: size(-0.54) !important;
      color: $secondary !important;

      @include mobile {
        font-size: 15px !important;
        line-height: 15px !important;
      }
    }
  }
}

.toggle-switch {
  top: 2px !important;
  margin-right: size(10) !important;

  @include mobile {
    align-self: baseline !important;
    margin-right: 0 !important;
  }

  .toggle-btn {
    height: size(20) !important;
  }

  .toggle-btn + label {
    width: 36px !important;
    height: 20px !important;
  }

  .toggle-btn + label::before {
    height: 20px !important;
    width: 36px !important;
    border-radius: 10px !important;
    background-color: $gray-50 !important;
  }

  .toggle-btn + label::after {
    top: 4px !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    background-color: $secondary !important;
  }

  .toggle-btn:checked + label::before {
    background-color: $gray-500 !important;
  }

  .toggle-btn:checked + label::after {
    margin-left: 16px !important;
  }
}

.clear-button {
  margin-top: size(2) !important;

  @include mobile {
    display: none !important;
  }

  button {
    margin: 0 !important;
    font-family: HelveticaNeue !important;
    font-size: size(18) !important;
    line-height: size(18) !important;
    letter-spacing: size(-0.54) !important;
    color: $secondary !important;
  }
}

.select2-container--open {
  .select2-selection--multiple {
    &::before {
      top: 0 !important;
      right: size(16) !important;
      border: none !important;
      width: 12px !important;
      height: 100% !important;
      background: url(../../public/icons/arrow-down.svg) no-repeat !important;
      background-size: contain !important;
      background-position: center !important;
      transform: rotate(270deg) !important ;

      @include mobile {
        width: 12px !important;
        height: 100% !important;
      }
    }
  }
}

.select2-container--default {
  flex: 0 1 size(336) !important;
  margin: 0 !important;
  height: 100% !important;

  @include mobile {
    flex: 0 1 100% !important;
  }

  .select2-selection--multiple {
    border-radius: 0 !important;
    border: none !important;

    &::before {
      top: 0 !important;
      right: size(16) !important;
      border: none !important;
      width: size(12) !important;
      height: 100% !important;
      background: url(../../public/icons/arrow-down.svg) no-repeat !important;
      background-size: contain !important;
      background-position: center !important;

      @include mobile {
        width: 12px !important;
        height: 100% !important;
      }
    }
  }
}

#freshteam-careers {
  padding-bottom: size(20) !important;
  font-family: HelveticaNeue !important;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    max-width: size(340) !important;
    margin-bottom: size(48) !important;
    padding: 0 !important;
  }

  .advanced-search {
    padding: 0 !important;
    background-color: $black !important;

    @include mobile {
      max-width: size(340);
      padding: 0 !important;
    }

    .input-field {
      position: relative;

      @include mobile {
        order: 3 !important;
      }

      &::before {
        position: absolute;
        left: size(16);
        top: size(10);
        content: '';
        background: url(../../public/icons/search.svg) no-repeat;
        background-size: contain;
        width: size(18) !important;
        height: size(18) !important;
      }

      svg {
        display: none !important;
      }

      .close-icon {
        font-size: size(18) !important;
        top: size(2) !important;
      }
    }

    @include mobile {
      padding-bottom: size(24) !important;
    }
  }

  .content {
    width: 100% !important;

    @include mobile {
      display: flex !important;
      flex-direction: column !important;
      gap: size(16) !important;
    }

    .page-title {
      @include fontType(H);

      @include heading-01;

      height: size(180);
      padding: size(32) 0 !important;
      margin-bottom: 0 !important;
      font-weight: normal !important;
      color: $white;

      @include mobile {
        height: auto !important;
        padding: 0 !important;
        margin-bottom: size(60) !important;
        font-size: size(45) !important;
        line-height: size(40.5) !important;
        letter-spacing: size(-1.35) !important;
      }
    }
  }
}

#freshteam-jobs-back {
  @include mobile {
    display: flex !important;
  }
}

.role-count {
  margin: 0 !important;
  padding: 0 !important;
  font-family: HelveticaNeue !important;
  font-size: size(18) !important;
  line-height: size(24) !important;
  background-color: transparent !important;
  color: $gray-300;

  @include mobile {
    font-size: size(18) !important;
    line-height: size(24) !important;
  }
}

.select2-container {
  @include mobile {
    max-width: size(340);
  }

  .select2-search--inline {
    .select2-search__field {
      width: max-content !important;
      color: $black !important;

      &::placeholder {
        color: $secondary !important;
      }
    }
  }
}

.select2-results {
  &__options {
    width: size(336) !important;
    max-height: size(200) !important;
    color: $black !important;
    background-color: $gray-50 !important;

    @include mobile {
      width: size(340) !important;
      max-height: size(120) !important;
      font-family: HelveticaNeue !important;
      font-size: size(15) !important;
      line-height: size(15) !important;
    }

    li.select2-results__option {
      display: flex !important;
      align-items: center;
      height: min-content !important;
      padding: size(4) size(16) !important;
      font-size: size(15) !important;
    }
  }
}

.select2-dropdown {
  overflow-y: auto;
}

.select2-dropdown--below {
  width: size(337) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border: 1px solid $gray-50 !important;
  border-color: $gray-50 !important;
  box-shadow: none !important;
  border: none !important;
  background-color: $gray-50 !important;

  @include mobile {
    width: size(340) !important;
    margin-top: 0 !important;
  }
}

.select2-search__field {
  font-family: HelveticaNeue !important;
  font-size: size(15) !important;
  line-height: size(15) !important;
  letter-spacing: size(-0.54) !important;
  padding: 0 !important;
  margin: 0 !important;

  @include mobile {
    padding-left: 0 !important;
    letter-spacing: size(-0.45) !important;
  }
}

.select2-selection--multiple {
  color: $grey !important;
  background-color: $gray-50 !important;
  border: none !important;
}

.select2-selection__rendered {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 100% !important;
  padding: size(5.5) size(32) size(5.5) size(16) !important;
  background-color: $gray-50 !important;
}

.remote-toggle-mobile {
  @include mobile {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8px !important;
    text-align: center !important;
    margin: 0 !important;
  }

  span {
    color: $secondary !important;
  }
}

.clear-button-mobile {
  display: none !important;
}

.mobile-role-count {
  font-family: HelveticaNeue !important;
  font-size: size(18) !important;
  line-height: size(24) !important;
  color: $secondary !important;

  &::first-letter {
    margin-left: size(-8) !important;
    visibility: hidden !important;
  }
}

.role-title {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-bottom: size(24) !important;

  @include mobile {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: size(10) !important;
  }

  h5 {
    margin-bottom: 0 !important;
    font-family: HelveticaNeue !important;
    font-size: size(64) !important;
    line-height: size(64) !important;
    letter-spacing: size(-1.28) !important;
    color: $gray-50 !important;

    @include mobile {
      display: flex !important;
      flex-direction: column !important;
      gap: size(10) !important;
      text-align: left !important;
      font-size: size(45) !important;
      line-height: size(40.5) !important;
      letter-spacing: size(-1.35) !important;
    }
  }
}

.setlect2-container--open {
  background: 4px solid green !important;
}

.select2-results__option--highlighted {
  color: $white !important;
}

.form-control {
  border-color: $grey !important;
  color: $white !important;
  background-color: $black !important;

  @include mobile {
    bottom: 0 !important;
  }

  &:focus {
    border-color: $white !important;
  }
}

.remote-toggle {
  span {
    color: $white !important;
  }
}

.job-list {
  li {
    padding: size(32) !important;
    margin-bottom: size(24) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border: 4px dashed $gray-500 !important;
    border-radius: 0 !important;
    font-family: HelveticaNeue !important;
    background: none !important;
    box-shadow: none !important;

    @include fontType(H);

    &:last-child {
      margin-bottom: 0 !important;
    }

    @include mobile {
      padding: size(24) !important;
    }
  }

  .job-location {
    @include mobile {
      margin-top: 0 !important;
      border-top: none !important;
    }
  }
}

.job-list.row {
  display: flex !important;
}

.job-title {
  font-family: HelveticaNeue !important;
  width: size(514) !important;
  font-size: size(32) !important;
  line-height: size(40) !important;
  letter-spacing: size(-0.96) !important;
  color: $gray-50 !important;

  @include mobile {
    width: size(288) !important;
    padding: size(12) 0 !important;
    margin-bottom: 0 !important;
    font-size: size(24) !important;
    line-height: size(24) !important;
    letter-spacing: size(-0.72) !important;
  }
}

.job-desc {
  font-family: HelveticaNeue !important;
  width: size(462) !important;
  font-size: size(18) !important;
  line-height: size(24) !important;
  color: $secondary !important;

  @include mobile {
    width: size(287) !important;
    padding-top: size(12) !important;
    font-size: size(15) !important;
    line-height: size(15) !important;
    letter-spacing: size(-0.45) !important;
  }
}

.icon-arrow-right {
  fill: $grey !important;
}
