$baseScreenSize: 1440;
$mobileScreenSize: 375;


@function size($size) {
  @return calc(((#{$size} / var(--screen-size)) * 100) * 1vw);
}

@function clampSize($min, $max) {
  @return max(#{$min}px, (#{$max} / (--screen-size * 100 * 1vw)));
}

@function get-real-vh($vh) {
  @return calc(var(--vh, 1vh) * #{$vh});
}
