$desktop: 1025;
$tablet: 1024;
$mobile: 767;

@mixin desktop {
  @media (min-width: #{$desktop}px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}px) {
    @content;
  }
}

@mixin hover {
  @media ( hover: hover ) {
    &:hover {
      @content;
    }
  }

  @media ( hover: none ) {
    &:active {
      @content;
    }
  }
}
