@use '~styles/mixins' as *;
@use '~styles/helpers' as *;

@mixin glob-font-style {
  letter-spacing: -0.03em;
}

@mixin heading-01 {
  font-size: size(64);
  line-height: size(64);
  letter-spacing: size(-1.28);

  @include mobile {
    @include heading-02;
  }
}

@mixin heading-02 {
  font-size: size(48);
  line-height: size(48);
  letter-spacing: size(-0.96);
}

@mixin heading-03 {
  font-size: size(32);
  line-height: size(40);
  letter-spacing: size(-0.96);

  @include mobile {
    @include heading-04;
  }
}

@mixin heading-04 {
  font-size: size(24);
  line-height: size(32);
  letter-spacing: size(-0.48);
}

@mixin main {
  font-size: size(18);
  line-height: size(24);
  letter-spacing: initial;
}

@mixin small {
  font-size: size(16);
  line-height: size(22);

  letter-spacing: initial;
}

@mixin paragraph {
  @include main;

  @include mobile {
    @include small;
  }
}

@mixin p-article {
  font-size: size(18);
  line-height: size(21.6);

  @include glob-font-style;

  @include mobile {
    font-size: size(15);
    line-height: size(18);
  }
}

@mixin button {
  font-size: size(18);
  line-height: size(22);

  letter-spacing: initial;

  @include mobile {
    font-size: size(12);
    line-height: size(12);
  }
}

@mixin button-small {
  font-size: size(14);
  line-height: size(18);

  letter-spacing: size(0.4);
}

@mixin sm-paragraph {
  @include small;
}
