@import 'src/styles/helpers';
@import 'src/styles/colors';

.container {
  overflow: hidden;
}

.cardWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $black;
  will-change: transform;
}

.cardTop {
  justify-content: flex-end;

  &:before {
    content: '';
    position: absolute;
    left: -1px;
    bottom: size(30);
    width: 2px;
    height: 100%;
    background-color: $black;
  }

  &:after {
    content: '';
    position: absolute;
    right: -1px;
    bottom: size(30);
    width: 2px;
    height: 100%;
    background-color: $black;
  }
}

.cardBottom {
  justify-content: flex-start;

  &:before {
    content: '';
    position: absolute;
    left: -1px;
    top: size(30);
    width: 2px;
    height: 100%;
    background-color: $black;
  }

  &:after {
    content: '';
    position: absolute;
    right: -1px;
    top: size(30);
    width: 2px;
    height: 100%;
    background-color: $black;
  }

  .line {
    margin-left: -1px;
    margin-right: -1px;
    width: calc(100% + 2px);
  }
}
