<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p><span style='font-family:Menlo, Courier,
                    monospace'>=nil;</span> Foundation was established in April
                of 2018 to support and promote database management systems and
                cryptographic research and development.</p>
            </div>
            <div class="col-lg-4">
                <p><span style='font-family:Menlo, Courier,
                    monospace'>=nil;</span> Foundation absorbed founders' 
                affilated projects' and teams to create a tightly integrated set
                of technologies becoming a basis for secure data storages 
                operating in insecure environments.</p>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>-->
        </div>
    </div>
</section>
