<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p><span style='font-family:Menlo, Courier,
                    monospace'>=nil;</span> Foundation was established in April
                of 2018 by group of projects originating from 2011 and 2013
                based on similar technologies in order to support their development 
                and ensure wider dissemination.</p>
            </div>
            <div class="col-lg-4">
                <p>Since 2013 Foundation's technologies has evolved to the set of 
                cryptography schemes and libraries, security-specified data 
                storage libraries, auditable database management systems, its' 
                replication protocols and configurations and lot more</p>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Theme
                </a>
            </div>-->
        </div>
    </div>
</section>
