<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p><span style='font-family:Menlo, Courier,
                    monospace'>=nil;</span> Foundation is a non-commercial
                foundation established in April of 2018 to support and promote 
                research and development in database management systems and 
                cryptography.</p>
            </div>
            <div class="col-lg-4"><p>With it's internal teams 
                <span style='font-family:Menlo, Courier, monospace'>=nil;</span> 
                Foundation intends to create a tightly integrated set of 
                technologies becoming a basis for secure data storages operating 
                in insecure environments.</p>
            </div>
        </div>
    </div>
</section>
