<!-- Partners Grid Section -->
<section class="success" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Partners</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for post in site.posts %}
            {% if post.tag == "partner" %}
            <div class="col-sm-3 partners-item panel panel-primary">
                <div class="panel-heading caption">
                    <h3 class="caption-content panel-title">{{ post.name }}</h3>
                </div>
                <div class="panel-body">
                    <a href="{{ post.link }}">
                        <img src="img/partners/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
