@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;

.root {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: size(30);

  @include mobile {
    padding: size(20) size(10);
    gap: size(10);
  }
}

.leftPath {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  margin-bottom: size(16);

  @include heading-02;

  @include mobile {
    margin-bottom: size(25);
  }
}

.icon {
  width: size(80);
  height: size(80);
}

.description {
  width: 50%;

  @include paragraph;
}
