@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;

.item {
  display: flex;
  align-items: center;
  margin: size(20) 0;
  padding: size(30) size(20);
  border: 1px dashed $white;
}

.title {
  margin-left: size(20);

  @include paragraph;
}

.icon {
  height: size(100);
  background-color: $white;
  color: $black;

  &.grey {
    color: $white;
    background-color: black;
  }
}

.dotedBox {
  height: size(200);
}

.doted {
  width: size(300);
  height: 100%;
}

.arrowButton {
  max-width: 300px;
}
