@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;

.root {
  position: relative;
  display: block;
  width: size(272);
  padding: size(30);

  @include hover {
    .title {
      color: $grey;
    }

    .arrow {
      path {
        fill: $grey;
      }
    }
  }

  &:disabled {
    .title {
      color: $grey;
    }

    .arrow {
      path {
        fill: $grey;
      }
    }
  }

  @include mobile {
    width: size(240);
    padding: size(20) 0;
  }
}

.title {
  margin-bottom: size(40);
  transition: color 0.3s;

  @include heading-02;

  @include mobile {
    margin-bottom: size(15);
  }
}

.description {
  color: $grey;

  @include paragraph;
}

.arrow {
  position: absolute;
  top: size(30);
  right: size(30);
  width: size(12);
  height: size(12);
  transform: rotate(45deg);

  path {
    transition: fill 0.3s;
  }

  @include mobile {
    top: size(22);
    right: 0;
  }
}
