@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/colors' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.wrapper {
  display: flex;
  justify-content: flex-end;
}

.content {
  position: relative;
  height: 100%;
  background-color: $gray900;
  width: 50%;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    width: 100%;
  }
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: size($spacing32);

  margin-left: size($spacing32);

  &:not(:last-child) {
    margin-bottom: size(20);
  }

  @include mobile {
    gap: size(20);
    padding: 0 size(10);
  }
}

.title {
  width: 80%;
  padding: size(30);

  @include heading-01;

  @include mobile {
    width: 100%;
    padding: size(20) size(10);
  }
}

.text {
  max-width: size(202);
  padding: size(30) 0;

  @include mobile {
    padding: size(20) 0;
  }
}
