@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;

.root {
  display: flex;
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
  }
}

.left,
.right {
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.right {
  margin-top: size(180);

  @include mobile {
    margin-top: 0;
  }
}

.description {
  padding: size(30) size(160) size(60) size(30);
  background-color: $black;

  @include heading-02;

  @include mobile {
    padding: size(60) size(10) size(20);
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  padding-top: size(104);
  padding-bottom: size(24);
  background-color: $black;

  @include mobile {
    padding-top: size(58);
    padding-bottom: size(10);
  }
}
