@use '~styles/helpers' as *;
@use '~styles/mixins' as *;
@use '~styles/colors' as *;

.container {
  position: relative;
}

.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: size(30);
  padding: 0;
  margin-bottom: size(40);

  @include mobile {
    grid-template-columns: 100%;
    gap: size(20);
    margin-top: size(20);
  }
}

.card {
  height: 100%;
  min-height: size(234);

  @include mobile {
    min-height: auto;
  }
}
