@mixin styledLink {
  color: var(--c-secondary-darker);
  transition: color var(--anchor-transition);

  @media (prefers-reduced-motion: no-preference) {
    &:hover,
    &:focus {
      color: var(--c-secondary);
    }
  }
}
