@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/mixins' as *;

.root {
  display: flex;
  align-items: flex-start;
  margin-bottom: size(237);

  @include mobile {
    flex-direction: column;
    margin-top: size(60);
    margin-bottom: size(60);
  }
}

.left,
.right {
  width: 50%;
  background-color: $black;

  @include mobile {
    width: 100%;
  }
}

.right {
  margin-top: size(198);

  @include mobile {
    margin-top: 0;
    padding-top: size(40);
  }
}

.box {
  &:not(:last-of-type) {
    margin-bottom: size(60);

    @include mobile {
      margin-bottom: size(20);
    }
  }
}
