#careers {
    padding-bottom: 0;
}

#freshteam-widget {
    min-height: 140px;
    background-color: #{{ site.color.background-color }}!important;
    border: 1px solid #3c3c3c;
}

#freshteam-widget * {
    font-family: inherit!important;
}

.job-details-header,
.advanced-search {
    background-color: #{{ site.color.background-color }}!important;
}

#freshteam-widget .job-details-header {
    border-bottom: 1px solid #3c3c3c;
}

#freshteam-widget .page-title {
    color: #{{ site.color.text-color }}!important;
}

#freshteam-widget .job-list>li {
    border: 1px solid #3c3c3c;
    background-color: #{{ site.color.background-color }}!important;
    color: #888888!important;
}

#freshteam-widget .job-list>li:hover,
#freshteam-widget .job-list>li:focus,
#freshteam-widget .job-list>li:active {
    background-color: #3c3c3c!important;
    color: #{{ site.color.text-color }}!important;
}

#freshteam-widget .job-list .job-title,
#freshteam-widget .job-list .job-desc {
    color: inherit!important;
}

#freshteam-widget .search-fields .remote-toggle>span {
    color: #{{ site.color.text-color }}!important;
}

#freshteam-widget h1,
#freshteam-widget h2,
#freshteam-widget h3,
#freshteam-widget h4,
#freshteam-widget h5,
#freshteam-widget h6,
#freshteam-widget .job-list .job-location .location-icon,
#freshteam-widget .search-fields .clear-button>button {
    color: #{{ site.color.primary }}!important;
}

#freshteam-widget h1,
#freshteam-widget h2,
#freshteam-widget h3,
#freshteam-widget h4,
#freshteam-widget h5,
#freshteam-widget h6 {
    background-color: #{{ site.color.background-color }}!important;
}

#freshteam-widget .toggle-switch .toggle-btn:checked+label::before {
    background-color: #{{ site.color.primary }}!important;
}

#freshteam-widget .icon-arrow-left,
#freshteam-widget .icon-arrow-right {
    fill: #{{ site.color.primary }}!important;
}

#freshteam-widget .job-details-content p,
#freshteam-widget ul, #freshteam-widget ol {
    background-color: #{{ site.color.background-color }}!important;
    color: #888888!important;
}

#freshteam-widget .form-control {
    background-color: #{{ site.color.background-color }}!important;
    border-color: #3c3c3c!important;
    color: #888888!important;
    border-width: 2px!important;
}

#freshteam-widget .select2-container--default
.select2-selection--multiple .select2-selection__rendered
li:nth-last-child(2).select2-selection__choice,
#freshteam-widget .select2-container--default .select2-selection--multiple {
    background-color: #{{ site.color.background-color }}!important;
}

#freshteam-widget .select2-container--default.form-control-highlight
.select2-selection--multiple, #freshteam-widget .select2-container--default.select2-container--focus
.select2-selection--multiple {
    border-color: #3c3c3c!important;
    border-width: 2px!important;
}

#freshteam-widget .select2-dropdown {
    background-color: #151515!important;
    border: 2px solid #3c3c3c!important;
    border-radius: 4px!important;
    box-shadow: none!important;
}

#freshteam-widget .select2-dropdown .select2-results__options
li.select2-results__option[aria-selected=true] {
    background-color: #151515!important;
    color: #{{ site.color.text-color }}!important;
}

#freshteam-widget .btn-primary {
    background-color: #{{ site.color.primary }}!important;
    border-color: #{{ site.color.primary }}!important;
}

#freshteam-widget .btn-primary:hover,
#freshteam-widget .btn-primary:focus,
#freshteam-widget .btn-primary.active
{
    background-color: #564554!important;
    border-color: #564554!important;
}

#freshteam-widget .job-role-list .role-count {
    background-color: #151515!important;
    color: #{{ site.color.text-color }}!important;
}

#freshteam-widget .select2-dropdown .select2-results__options
li.select2-results__option--highlighted {
    background-color: #151515!important;
    color: #888888!important;
}

.icon-tick > svg {
    display: none;
}

#freshteam-widget .form-group label {
    background-color: transparent!important;
    color: #{{ site.color.text-color }}!important;
    margin-bottom: 10px!important;
}

#freshteam-widget .complex-field {
    border: 1px solid #3c3c3c!important;
}

#freshteam-widget .resume-upload .btn-success {
    color: #{{ site.color.primary }}!important;
    border-color: #{{ site.color.primary }}!important;
}

#freshteam-widget .resume-upload .btn-success:hover,
#freshteam-widget .resume-upload .btn-success:focus,
#freshteam-widget .resume-upload .btn-success:active {
    background-color: #{{ site.color.primary }}!important;
    color: #{{ site.color.text-color }}!important;
}

#freshteam-widget .btn-add:hover,
#freshteam-widget .btn-add:focus,
#freshteam-widget .btn-add:active:focus {
    color: #333!important;
    background-color: #e6e6e6!important;
    border-color: #adadad!important;
}

#freshteam-widget .select2-container--default .select2-selection--multiple {
    border-color: #3c3c3c!important;
    border-width: 2px!important;
}

#freshteam-widget .resume-upload:hover .btn-success {
    background-color: #{{ site.color.primary }}!important;
    color: #{{ site.color.text-color }}!important;
}

#freshteam-widget input[type="radio"] + span,
#freshteam-widget input[type="checkbox"] + span {
    color: #{{ site.color.text-color }}!important;
}

#freshteam-widget input[type="radio"],
#freshteam-widget input[type="checkbox"] {
    accent-color: #{{ site.color.primary }}!important;
}
