@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;

.root {
  display: flex;
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
    margin-bottom: size(60);
  }
}

.left {
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.head {
  @include mobile {
    padding-bottom: size(60);
  }
}

.right {
  display: flex;
  align-items: flex-start;
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.box {
  position: relative;
  width: 50%;
  margin-top: size(180);
  background-color: $black;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $black;

    @include mobile {
      display: none;
    }
  }

  &:last-of-type {
    margin-top: size(270);
  }

  @include mobile {
    margin-top: 0;
    padding-top: size(20);

    &:last-of-type {
      margin-top: 0;
      padding-top: size(70);
    }
  }
}

.text {
  padding: size(30) size(30) size(138);
  height: size(240);

  @include paragraph;

  @include mobile {
    margin-bottom: unset;
    max-height: size(180);
    padding: size(0) size(10) size(10);
    margin-bottom: 0px;
    height: initial;
  }
}

.space {
  margin-bottom: size(200);

  @include mobile {
    margin-bottom: size(60);
  }
}
