@use '~styles/typography' as *;
@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/mixins' as *;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: size(420);
  padding: size(30);
  background-color: $gray900;
  word-break: break-word;

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -1px;
    width: 4px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    position: static;
    min-height: auto;
    padding: size(10) size(10);
  }
}

.title {
  @include heading-01;
}

.description {
  width: 100%;
  max-width: size(241);
  margin-top: size(64);
  word-break: break-word;

  @include paragraph;

  @include mobile {
    max-width: 50%;
    margin-top: size(40);
    // @include sm-paragraph;
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: size(8);

  @include mobile {
    margin-top: size(60);
  }
}
