@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/helpers' as *;

.container {
  position: relative;
}

.sideNavigation {
  left: size(40);

  @include mobile {
    display: none;
  }
}

.root {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;

  @include mobile {
    grid-template-columns: 1fr 1fr;
  }
}

.pageTitle {
  @include heading-02;
}

.content {
  background: url(/icons/dots.svg), repeat;
  grid-column: span 4/6;

  @include mobile {
    grid-column: span 2;
  }
}

.footerSection {
  @include mobile {
    display: none;
  }
}
