@import '/styles/mixins';

.footerContainer {
  padding: 80px 0;
}

.copyright {
  padding-top: 60px;
}

.socialButtons {
  position: absolute;
  left: 0;
  bottom: -6px;

  @include responsive(sm) {
    position: block;
  }
}
