@import '/styles/mixins';

.footerContainer {
  padding-top: 80px;
  padding-bottom: 80px;

  address {
    color: var(--c-primary-lighter);
  }
}

.copyright {
  padding-top: 60px;
}

.list {
  list-style: none;
  padding-inline-start: 0;

  > li {
    padding: 4px 0;
  }
}

.socialButtons {
  position: absolute;
  left: 0;
  bottom: -14px;
  display: flex;
  justify-content: center;

  @include responsive(sm) {
    position:static;
    margin-bottom: 14px;
  }

  > a {
    font-size: 32px;
    width: 50px;

    @media (prefers-reduced-motion: no-preference) {
      &:hover {
        transform: scale(0.95);
      }
    }
  }
}
