@import '/styles/mixins';

@mixin styledLink {
  color: var(--c-primary-lighter);
  transition: var(--anchor-transition);

  @media (prefers-reduced-motion: no-preference) {
    &:hover {
      color: var(--c-secondary);
    }
  }
}

.footerContainer {
  padding-top: 80px;
  padding-bottom: 80px;

  address {
    color: var(--c-primary-lighter);
  }
}

.copyright {
  padding-top: 60px;
}

.list {
  list-style: none;
  padding-inline-start: 0;

  > li {
    padding: 4px 0;

    > a {
      @include styledLink;
    }
  }
}

.socialButtons {
  position: absolute;
  left: 0;
  bottom: -14px;
  display: flex;
  justify-content: center;

  @include responsive(sm) {
    position:static;
    margin-bottom: 14px;
  }

  > a {
    @include styledLink;
    font-size: 32px;
    width: 50px;

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(0.95);
      }
    }
  }
}
