@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/mixins' as *;

.root {
  flex-shrink: 0;
  width: 100%;
  height: size(30);
  background-color: $gray-50;

  @include mobile {
    height: size(20);
  }
}
