@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  position: relative;
  width: 100%;
  cursor: pointer;
  color: $secondary;

  svg {
    width: size(18);
    height: size(18);
    top: size(28);
    right: size(28);
  }

  &.featured {
    svg {
      width: size(22);
      height: size(22);
      top: size(30);
      right: size(28);
    }
  }

  &:not(:last-child) {
    margin-bottom: size($spacing32);
  }

  @include mobile {
    &:not(:last-child) {
      margin-bottom: size($spacing24);
    }
  }
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   transition: border-color 0.3s ease;
//   padding: size(30) 0;

//   @include hover {
//     border-color: $white;
//   }

//   @include mobile {
//     padding: size(20) 0 0;
//   }
// }

// .blogPost {
//   border-bottom: size(4) dashed $grey;

//   @include hover {
//     border-bottom: size(4) solid $white;
//   }
// }

// .featurePost {
//   padding: size(30) size(27);
//   border: size(4) dashed $grey;

//   @include hover {
//     border: size(4) solid $white;
//   }

//   @include mobile {
//     padding: size(30) size(20);
//   }
// }

.info {
  display: flex;

  gap: size(10);

  margin-bottom: size($spacing32);

  p {
    @include sm-paragraph;
  }

  @include mobile {
    margin-bottom: size($spacing16);
  }
}

.featureInfo {
  gap: size($spacing12);
  margin-bottom: size($spacing48);

  @include mobile {
    margin-bottom: size($spacing16);
  }

  // p {
  //   &:not(:last-child) {
  //     margin-right: size($spacing12);
  //   }
  // }
}

// .date {
//   color: $grey;
// }

.content {
  display: flex;
  gap: size($spacing32);
  align-items: flex-start;
  // width: 100%;
  // margin-top: size(40);

  @include mobile {
    flex-direction: column;
    gap: size($spacing16);
    // margin-top: size(30);
  }
}

.featuredContent {
  flex-direction: column;

  gap: size($spacing48);

  @include mobile {
    gap: size($spacing16);
  }
}

.title {
  flex-basis: size(514);

  flex-shrink: 0;

  color: $gray50;

  @include heading-03;

  @include mobile {
    flex-basis: initial;
    width: 100%;
    // margin: 0 0 size(20) 0;
    // color: $white;
  }
}

.featureTitle {
  @include heading-01;

  flex-basis: initial;

  width: size(683);

  @include mobile {
    width: 100%;
    // color: $white;

    // @include heading-02;
  }
}

.featureDescription {
  flex-grow: initial;

  width: size(616);

  @include paragraph;

  @include mobile {
    width: 100%;
  }
}

.description {
  flex-grow: 1;

  @include paragraph;

  @include mobile {
    @include main;
    // width: 100%;
    // color: $grey;
    // margin-bottom: size(20);
  }
}

// .author {
//   @include mobile {
//     color: $white;
//     max-width: size(250);
//   }
// }

// .arrow {
//   position: absolute;
//   right: size(30);
//   width: size(14);
//   height: size(14);
//   opacity: 0.5;
//   transition: opacity 0.3s;
//   transform: rotate(45deg);

//   @include mobile {
//     opacity: 1;
//     right: 0;
//   }
// }

// .bigArrow {
//   right: size(25);
//   width: size(18);
//   height: size(18);

//   @include mobile {
//     right: size(18);
//     width: size(14);
//     height: size(14);
//   }
// }
