@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  position: relative;
  width: 100%;
  cursor: pointer;
  color: $secondary;
  // transition: color 0.3s ease;

  svg {
    width: size(16);
    height: size(16);
  }

  &.featured {
    svg {
      width: size(12);
      height: size(12);
    }
  }

  &:not(:last-child) {
    margin-bottom: size($spacing32);
  }
}

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   transition: border-color 0.3s ease;
//   padding: size(30) 0;

//   @include hover {
//     border-color: $white;
//   }

//   @include mobile {
//     padding: size(20) 0 0;
//   }
// }

// .blogPost {
//   border-bottom: size(4) dashed $grey;

//   @include hover {
//     border-bottom: size(4) solid $white;
//   }
// }

// .featurePost {
//   padding: size(30) size(27);
//   border: size(4) dashed $grey;

//   @include hover {
//     border: size(4) solid $white;
//   }

//   @include mobile {
//     padding: size(30) size(20);
//   }
// }

.info {
  display: flex;

  margin-bottom: size($spacing32);

  p {
    &:not(:last-child) {
      margin-right: size(10);
    }

    @include sm-paragraph;
  }

  &.featureInfo {
    p {
      @include paragraph;
    }
  }
}

// .date {
//   color: $grey;
// }

.content {
  display: flex;
  gap: size($spacing32);
  align-items: center;
  // width: 100%;
  // margin-top: size(40);

  @include mobile {
    flex-direction: column;
    // margin-top: size(30);
  }
}

.title {
  flex-basis: size(514);

  flex-shrink: 0;

  color: $gray50;

  @include heading-02;

  @include mobile {
    // width: 100%;
    // margin: 0 0 size(20) 0;
    // color: $white;
  }
}

.description {
  flex-grow: 1;

  @include paragraph;

  @include mobile {
    // width: 100%;
    // color: $grey;
    // margin-bottom: size(20);
  }
}

// .featureTitle {
//   width: 70%;
//   margin-top: size(40);

//   @include heading-01;

//   @include mobile {
//     width: 100%;
//     color: $white;

//     @include heading-02;
//   }
// }

// .featureDescription {
//   width: 60%;
//   margin-top: size(40);

//   @include paragraph;

//   @include mobile {
//     width: 100%;
//   }
// }

// .author {
//   @include mobile {
//     color: $white;
//     max-width: size(250);
//   }
// }

// .arrow {
//   position: absolute;
//   right: size(30);
//   width: size(14);
//   height: size(14);
//   opacity: 0.5;
//   transition: opacity 0.3s;
//   transform: rotate(45deg);

//   @include mobile {
//     opacity: 1;
//     right: 0;
//   }
// }

// .bigArrow {
//   right: size(25);
//   width: size(18);
//   height: size(18);

//   @include mobile {
//     right: size(18);
//     width: size(14);
//     height: size(14);
//   }
// }
