@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  position: relative;
  width: 100%;
  cursor: pointer;
  color: $secondary;

  svg {
    width: size(18);
    height: size(18);
    top: size(28);
    right: size(28);
  }

  &.featured {
    svg {
      width: size(22);
      height: size(22);
      top: size(30);
      right: size(28);
    }
  }

  &:not(:last-child) {
    margin-bottom: size($spacing32);
  }

  @include mobile {
    &:not(:last-child) {
      margin-bottom: size($spacing24);
    }
  }
}

.info {
  display: flex;

  gap: size(10);

  margin-bottom: size($spacing32);

  p {
    @include sm-paragraph;
  }

  @include mobile {
    margin-bottom: size($spacing16);
  }
}

.featureInfo {
  gap: size($spacing12);
  margin-bottom: size($spacing48);

  @include mobile {
    margin-bottom: size($spacing16);
  }
}

.content {
  display: flex;
  gap: size($spacing32);
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
    gap: size($spacing16);
    // margin-top: size(30);
  }
}

.featuredContent {
  flex-direction: column;

  gap: size($spacing48);

  @include mobile {
    gap: size($spacing16);
  }
}

.title {
  flex-basis: size(514);

  flex-shrink: 0;

  color: $gray50;

  @include heading-03;

  @include mobile {
    flex-basis: initial;
    width: 100%;
  }
}

.featureTitle {
  @include heading-01;

  flex-basis: initial;

  width: size(683);

  @include mobile {
    width: 100%;
  }
}

.featureDescription {
  flex-grow: initial;

  width: size(616);

  @include paragraph;

  @include mobile {
    width: 100%;
  }
}

.description {
  flex-grow: 1;

  @include paragraph;

  @include mobile {
    @include main;
  }
}
