<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include navbar.html %}

    <div class="container" id="res">
      <div class="page-header">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Research: {{ page.topic }}</h1>
            </div>
        </div>
      </div>
    <div class="row">
      <div class="col-lg-9">
          <div class="bs-component">
              <div class="jumbotron">		
                <div class="list-group">
                  {% for post in site.papers %}
                  {% if post.topics contains page.topic %}
                    <a href="{{ post.link }}" class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ post.name }}</h5>
                        <small>{{ post.date | date_to_string }}</small>
                      </div>
                     <small>Author: {{ post.author }}</small>
                     
                    </a>
                  {% endif %}
                  {% endfor %}
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="bs-component">
              <div class="jumbotron">
                  <div class="list-group">
                      {% for tag in site.data.research %}
                      {% assign t = tag | first %}
    
                      <a class="list-group-item list-group-item-action flex-column align-items-start {% if tag == page.topic %}selected-tag{% endif %}" href="/research/topic/{{ tag }}">
                          {{ tag  }}
                      </a>
                      {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    
    </div>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
