@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: size($spacing32);

  svg {
    width: size(17);
    height: size(17);
    top: size(30);
    right: size(36);
  }

  @include mobile {
    svg {
      width: size(17);
      height: size(17);
      top: size(30);
      right: size(25);
    }
  }
}

.info {
  display: flex;

  p {
    &:not(:last-child) {
      margin-right: size(10);
    }

    @include sm-paragraph;
  }
}

.title {
  margin-top: size($spacing32);
  color: $gray-50;

  @include heading-03;
}

.tags {
  display: flex;
  width: max-content;
}

.tag {
  transition: border 0.3s ease;
  border: size(1) solid $grey;

  &:not(:last-child) {
    margin-right: size(10);
  }
}
