@import 'src/styles/typography';
@import 'src/styles/helpers';
@import 'src/styles/colors';
@import 'src/styles/mixins';

.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: size(272);
  height: 100vh;
  z-index: 2;

  @include mobile {
    position: relative;
    left: unset;
    top: unset;
    height: 100%;
    width: size(158);
  }
}

.titleWrapper {
  width: size(512);
  transform-origin: top left;
  transition: 0.4s opacity;
  margin-top: size(20);
  will-change: transform, opacity;

  @include mobile {
    position: absolute;
    top: 0;
    left: size(10);
    width: 95%;
    margin-top: 0;
  }
}

.titleWrapperHidden {
  opacity: 0;
}

.title {
  @include heading-03;
  text-align: left;

  @include mobile {
    width: 100%;
  }
}

.titleLarge {
  @include heading-01;
  @include mobile {
    @include heading-04;
    width: 100%;
  }
}

.linkWrapper {
  width: size(272);
  margin-bottom: size(30);
  background-color: $gray900;

  @include mobile {
    display: none;
  }
}

.link {
  @include paragraph;
  padding-left: 0;
  margin-bottom: size(24);

  @include mobile {
    padding-left: size(10);
  }
}

.bottomLine {
  width: calc(100% + 2px);
}
