code {
  background-color: transparent;
  color: inherit;
  font-family: Courier, monospace;
}

footer {
  border-top: var(--base-border);
}

section {
  margin-bottom: 32px;

  .anchor {
    margin-bottom: 28px;

    i {
      font-size: 75%;
    }
  }
}

header {
  margin-bottom: 20px;
}

html {
  scroll-padding-top: 100px;
}
