body {
  --c-base-darker: #151515;
  --c-base: #222;
  --c-base-lighter: #292929;
  --c-base-light: #3c3c3c;

  --c-primary: #776475;

  --c-secondary-darker: #d3d3d3;
  --c-secondary: #f5f2f1;

  --c-danger: #f44336;

  --base-border: 1px solid var(--c-base-light);
  --input-base-border: 2px solid var(--c-base-light) !important;

  --anchor-transition: 0.1s ease;
}
