[Unit]
Description=Site admin

[Service]
ExecStart=node {{ site_app_dir }}/site/node_modules/.bin/next start
User={{ site_user }}
Restart=always
WorkingDirectory={{ site_app_dir }}/site

[Install]
WantedBy=multi-user.target